<div class="container">
    <h2>Users</h2>

    <div class="container">
        <div class="row">
            <h6 class="well">There are {{vm.usersCount}} users</h6>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <!--<input class="input-xlarge search-query"-->
                       <!--data-ng-model="vm.sessionsSearch"-->
                       <!--data-ng-keyup="vm.search($event)"-->
                       <!--placeholder="Filter room, speaker, tag, title, or track">-->
            </div>
            <div class="col-sm-8">
                <div class="btn-group pull-right">
                    <a class="btn btn-info btn-form-md"
                       data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i> <span>Refresh</span></a>
                    <a class="btn btn-info btn-form-md"
                       ui-sref="userdetails({userId:'new'})"><i class="fa fa-plus"></i> <span>Add User</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in vm.users">
                <p>
                    <a href="#" ng-click="vm.goToUser(user)">Edit</a>
                </p>
                <p>First name: {{user.firstName}}</p>
                <p>Last name: {{user.lastName}}</p>
                <p>Job title: {{user.job.title}}</p>
                <p>Address' street name: {{user.address.street}}</p>
            </li>
        </ul>
    </div>

</div>
