<div class="container">
    <h2>User Details</h2>

    <div class="container">
        <button class="btn btn-info btn-form-md"
                ng-click="vm.goBack()">
            <i class="fa fa-hand-o-left"></i> Back
        </button>
        <button class="btn btn-info btn-form-md"
                ng-click="vm.cancel()"
                ng-disabled="!vm.canSave">
            <i class="fa fa-undo"></i> Cancel
        </button>
        <button class="btn btn-info btn-form-md"
                ng-click="vm.save()"
                ng-disabled="!vm.canSave">
            <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-danger btn-form-md"
                ng-click="vm.deleteUser()">
            <i class="fa fa-trash-o"></i> Delete
        </button>

        <!--Need ng-hide for show/hide animations-->
        <span ng-show="vm.hasChanges" class="dissolve-animation ng-hide flag-haschanges">
            <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
        </span>
    </div>

    <div class="container">
        <form>
            <div class="form-group">
                <label class="control-label">First name</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.firstName"
                           placeholder="First name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Last name</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.lastName"
                           placeholder="Last name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.email"
                           placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Date of birth</label>
                <div>
                    <datepicker ng-model="vm.user.dateOfBirth" max-date="vm.datepickerMaxDate" show-weeks="true"
                                class="well well-sm" custom-class=""></datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Twitter</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.twitter"
                           placeholder="Twitter name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Cell phone</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.cellPhone"
                           placeholder="Cell phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Office phone</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.officePhone"
                           placeholder="Office phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Website</label>
                <div>
                    <input class="form-control"
                           ng-model="vm.user.website"
                           placeholder="Website"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Bio</label>
                    <textarea class="form-control"
                              ng-model="vm.user.bio"
                              placeholder="Bio"></textarea>
            </div>
        </form>
    </div>


</div>
